.sidebar {
  padding: 1rem;
  background-color: #f8f9fa;
  border-radius: 8px;
  width: 25%;
  height: auto;
  margin: 2% 2%;
}

.timer-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  background-color: #c9dfff;
  color: #000;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
  width: 40%;
}
.clock-icon {
  width: 1rem; 
  height: 1rem;
  margin-right: 0.1rem; 
  vertical-align: middle;
}

.Questions-txt {
  margin-bottom: 1rem;
}

.legend {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.legend-item {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.legend-color-box {
  width: 1rem;
  height: 1rem;
  border-radius: 2px;
  margin-right: 0.5rem;
}

.legend-item.answered .legend-color-box {
  background-color: #6fd532; 
}

.legend-item.visited .legend-color-box {
  background-color: #1b2e58; 
}

.legend-item.unanswered .legend-color-box {
  background-color: #dee2e6; 
}

.questions-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
}

.question-box {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  border-radius: 4px;
  font-weight: bold;
  color: #fff;
}

.question-box.answered {
  background-color: #6fd532; 
}

.question-box.visited {
  background-color: #1b2e58; 
}

.question-box.unanswered {
  background-color: #dee2e6; 
  color: #6c757d;
}
